@charset "UTF-8";

/* 레이아웃 */
#header {
    width: 100%;
    border-bottom: 1px solid #c6c6c6;
    /* background-color: rgba(0, 0, 0, 0.1); */
}

#banner {
    /* banner_menu의 기준점 */
    position: relative;
}

/* 가운데 영역(그리드) */
.container {
    position: relative;
    width: 1280px;
    margin: 0 auto;
    /* background-color: rgba(0, 0, 0, 0.1); */
}

/* 로우영역(그리드 양사이드 마진) */
.row {
    padding: 0 28px;
}

/* 헤더 영역 */
.header {
    /* overflow: hidden; */
    /* float로 사라진 영역 잡기: float 사용한 상위태그에 사용한다. 단, 메뉴작업시 서브메뉴가 안보이게 되기 때문에 메뉴작업시에는 clearfix를 사용한다*/
}

.header h1 {
    float: left;
}

.header h1 em {
    padding: 15px 8px 5px 0;
    display: inline-block;
}

.header h1 em img {
    width: 155px;
}

.header h1 strong {
    /* 반응형작업시 사라질 예정 */
    display: block;
    position: absolute;
    left: 194px;
    top: 23px;
}

.header h1 strong img {
    width: 126px;
}


.header .nav {
    float: right;
}

.header .nav ul {
    /*
    li에 float를 사용해서 영역아 사라졌기 때문에
    상위 태그에 영역을 잡아줘야함
    영역을 잡아주는 방법 중
    overflow: hidden을 의도적으로 사용하지 않았는데 
    메뉴작업시 서브메뉴가 안보이게 되기 때문에
    메뉴작업시에는 clearfix를 사용하게 된다.
    */
    border-left: 1px solid #c6c6c6;
}

.header .nav ul li {
    float: left;
    width: 103px;
    text-align: center;
    border-right: 1px solid #c6c6c6;
}

.header .nav ul li a {
    display: block;
    padding: 19px 10px;
    font-size: 17px;
    font-weight: 700;
    color: #444;
}

/* 배너 */
.banner_menu {
    position: absolute;
    left: 0;
    top: 20px;
    width: 100%;
    height: 100px;

    /* float때문에 사라진 영역을 잡기 위해 사용
    서브메뉴가 없기 때문에 clearfix 대신 간단하게 overflow: hidden을 사용하는 방식을 사용함 */
    overflow: hidden;
}

.banner_menu a {
    color: #fff;
    font-size: 16px;
    transition: all 0.3s;
}

.banner_menu a:hover {
    color: #c1c1c1;
}

.banner_menu .bm_left {
    float: left;
}

.banner_menu .bm_left ul {
    padding-top: 7px;
}

.banner_menu .bm_left li {
    /* line:after의 기준점 */
    position: relative;

    display: inline;
    margin-right: 30px;
}

.banner_menu .bm_left li.total {
    margin-right: 20px;
}

.banner_menu .bm_left li.total a {
    font-size: 14px;
    padding: 3px 10px;
    display: inline-block;
    border: 1px solid #fff;
    transition: all 0.3s;
}

.banner_menu .bm_left li.total a:hover {
    background-color: #fff;
    border-color: #000;
    color: #000;
}

.banner_menu .bm_right {
    float: right;
    overflow: hidden;
}

.banner_menu .bm_right ul {
    float: left;
}

.banner_menu .bm_right ul:first-child {
    padding-top: 7px;
}

.banner_menu .bm_right li {
    /* line:after의 기준점 */
    position: relative;

    display: inline;
    text-align: center;
    margin-right: 20px;
}

.banner_menu .bm_right li.line {
    margin-right: 38px;
}

.banner_menu li.line:after {
    content: '';
    width: 1px;
    height: 14px;
    background: #fff;
    position: absolute;
    right: -18px;
    top: 2px;
}

.banner_menu .bm_right li.white {
    margin-right: 10px;
}

.banner_menu .bm_right li.white a {
    display: inline-block;
    width: 80px;
    background-color: #fff;
    color: #3a0e6a;
    padding: 7px 30px 9px 30px;
    border: 1px solid #fff;
}

.banner_menu .bm_right li.purple {
    margin-right: 0px;
}

.banner_menu .bm_right li.purple a {
    display: inline-block;
    width: 80px;
    background-color: #3a0e6a;
    color: #fff;
    padding: 7px 30px 9px 30px;
    border: 1px solid #6e40c4;
}

/* 미디어쿼리 */
/* pc */
@media(max-width:1290px) {
    .container {
        width: 100%;
    }

    .header .nav ul li {
        width: 93px;
    }

    .header .nav ul li a {
        font-size: 15px;
        padding: 17px 10px;
    }

    .header h1 em {
        padding: 11px 8px 5px 0;
    }

    .header h1 strong {
        top: 20px;
    }

}

/* 노트북과 태블릿 가로 */
@media(max-width:1024px) {
    .row {
        padding: 0 24px;
    }

    .header h1 {
        float: none;
        text-align: center;
    }

    .header h1 strong {
        left: 24px;
    }

    .nav {
        display: none;
    }
}

/* 테블릿 가로 */
@media(max-width:960px) {}

/* 모바일 가로 & 태블릿 세로 */
@media(max-width:768px) {}

/* 모바일 */
@media(max-width:480px) {}

/* 모바일 */
@media(max-width:320px) {}